* {
    margin:0;
    padding:0;
    word-break: break-all;
    font-family: 'Lato', sans-serif;
}

.footer {
    font-family: arial;
    color: #212121;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }

body{
    display: grid;
    grid-template-columns: 18% auto 18%;
    grid-template-rows: 8% auto 15%;
    margin:0;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.topPanel{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-content: center;
    align-items: center;
}
    #cityField{
        width:40%;
        padding: 6px;
        background: transparent;

        outline: 0;
        border-width: 0 0 1px;
        border-color: white;
        color: white;
    }
    #cityField::placeholder{
        color: white;
    }

.leftPanel{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rightPanel{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bottomPanel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}