@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap');

* {
    margin:0;
    padding:0;
    word-break:keep-all;
    font-family: 'Manrope', sans-serif;
    color:white;
}

.footer {
    font-family: arial;
    color: #a5a3a3;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }

body{
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 8% auto 15%;
    margin:0;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #242F3F;
}

.icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(17deg) brightness(104%) contrast(102%);
}

.topPanel{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
    .searchIcon{
        padding-right: 8px;
        width:25px;
    }
    #cityField{
        width:40%;
        padding: 8px;
        padding-left: 16px;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: white;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;

    }
    #cityField::placeholder{
        color: white;
    }

.leftPanel{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 16%;
    margin-top: 30px;
}
    .weatherState{
        font-weight: 500;
        font-size: 2rem;
    }
    .city{
        margin-top: -6px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    .date, .time{
        font-size: 0.8rem;
    }
    .tempDegree, .tempF{
        margin-top: 10px;
        font-size: 3rem;
        font-weight: 700;
    }
    .todayIcon{
        width: 30%;
        margin-top: 10px;
    }

    /* Toggle switch */
    .toggleSwitch{
        margin-top: 10px;
    }
    .chooseC, .chooseF{
        display:inline-block;
        font-weight: 300;
        font-size: 18px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 28px;
        margin:6px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196F3;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: #ccc;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #ccc;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 20px;
    }
    .slider.round:before {
        border-radius: 50%;
    }


.rightPanel{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 10%;
    margin-top: 30px;
}
    .dailyPanel{
        float: right;
        margin-right: 16%;
    }
    .dayDiv{
        display:flex;
        margin-bottom: 25px;
    }
    .iconDayDiv{
        width: 50px;
        height: 50px;
    }
    .textDayDiv{
        margin-left: 16px;
    }
    .titleDayDiv{
        font-weight: 400;
        font-size: 0.8rem;
    }
    .tempDayDiv{
        font-weight: 800;
        font-size: 1.2rem;   
        margin-top: -2px;
    }

.bottomPanel{
    display: inline-flex;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 16%;
    padding-right: 16%;
    align-items: center;
}
    .settingDiv{
        display:flex;
    }
    .iconSettings{
        width: 50px;
        height: 50px;
    }
    .textSetting{
        padding-left: 12px;
        padding-top: 4px;

        font-weight: 400;
        font-size: 0.8rem;
    }
    .textValue{
        margin-top: -4px;
        font-weight: 800;
        font-size: 1.2rem;
    }


/* LOADER */
.loader-wrapper{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #242F3F;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
    /* top:50%;
    left:50%; */
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  } 